body{
    background: linear-gradient(skyblue, lightgreen)
}

body{
    background-image: url(Soccer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.h{
    color:  ghostwhite;
}

#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 45px
}




#title{
    text-shadow: 4px 4px 4px lightgreen, 0px -4px 4px skyblue
}




.p{
    color: black;
    font-style: italic;
    padding: 5px;
    border-style: outset;
    border-width: 3px;
    border-color: lightgrey;
    background: linear-gradient(skyblue, lightgreen)
}



.ul{
     font-weight: bold;
    background: linear-gradient(skyblue, lightgreen)
}

#box1{
   
    width: 400px;
    
}

#box2{
    
    width: 400px;
}

#box3{
  
    width: 400px;
}

#box4{

    width: 400px;
}

ul{
    width: 400px;
    border: 2px dashed;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    
}

a:link{
    color: white;
    visited: white;
    
}
a:hover{
    color:red;
}